.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  padding-top: 3rem;
  padding-bottom: 3rem;
  background: red;
}

.logotext {
  display: flex;
  align-items: end;
  justify-content: center;
}

.logoIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.logoLink {
  background: white;
  color: var(--primary);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.4rem;
  font-size: 4.4rem;
  font-weight: bold;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  transition: all 0.4s ease-in-out;
}

.logoLink:hover {
  filter: brightness(80%);
}

.logoLink svg {
  width: 6.4rem;
  height: 6.4rem;
}
