.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  padding-top: 3rem;
  padding-bottom: 0.8rem;
  /*background: red;*/
}

.logoLink {
  color: var(--primary);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.4rem;
  font-size: 4.4rem;
  font-weight: bold;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
}

.logoLink:hover {
  filter: brightness(65%);
}

.logoLink svg {
  width: 6.4rem;
  height: 6.4rem;
}
